<mat-toolbar color="primary">
  <h1>Bugget Board</h1>
  <div class="divMenu">
    <button class="btnMenu" mat-raised-button color="primary" [matMenuTriggerFor]="menu">Menu <i></i></button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="groups">Groups</button>
    </mat-menu>
    <mat-menu #groups="matMenu">
      <button mat-menu-item>Group1</button>
      <button mat-menu-item>Group2</button>
      <button mat-menu-item>Group3</button>
      <button mat-menu-item>Group4</button>
    </mat-menu>

    <button class="btnLogout" mat-flat-button color="primary">Logout</button>
  </div>
</mat-toolbar>
