<h2 mat-dialog-title>Create New Bug</h2>

<mat-dialog-content>
  <p>Enter the following information to create a bug.</p>
</mat-dialog-content>

<mat-label>ID: {{data.id}}</mat-label>
<br>
<mat-label>Date: {{data.currentDate}}</mat-label>
<br>
<mat-label>Created By: {{data.createdBy}}</mat-label>
<br>
<br>
<mat-form-field appearance="fill">
  <mat-label>Brief Description</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Summary</mat-label>
  <textarea rows="7" matInput></textarea>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Owner</mat-label>
  <input matInput>
</mat-form-field>

<mat-dialog-actions>
  <button mat-raised-button (click)="save()">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
