/* HEADER */

.divMenu {
  position: absolute;
  right: 50px;
}
button {
  width: 120px;
}
.btnMenu {
  margin-left: 20px;
  margin-right: 20px;
}
i {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-left: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* BODY */

mat-card {
  width: 70%;
  margin: auto;
}

mat-form-field,
textarea
 {
  width: 100%;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
.info-txt {
  text-align: center;
}
.btnEdit {
  grid-area: btnEdit;
  width: 30px;
  position: absolute;
  right: 0;
}
.taSummary {
  grid-area: taSummary;
  resize: none;
}

.lblStatus {grid-area: lblStatus;}
.lblOwner {grid-area: lblOwner;}
.lblCreatedBy {grid-area: lblCreatedBy;}
.lblCreatedOn {grid-area: lblCreatedOn;}

.card-grid-container {
  display: grid;
  grid-template-areas:
    'taSummary taSummary taSummary taSummary btnEdit'
    'taSummary taSummary taSummary taSummary btnEdit'
    'taSummary taSummary taSummary taSummary lblStatus'
    'taSummary taSummary taSummary taSummary lblOwner'
    'taSummary taSummary taSummary taSummary lblCreatedBy'
    'taSummary taSummary taSummary taSummary lblCreatedOn';
  grid-gap: 10px;
  padding: 10px;
}
