<mat-card>
  <mat-accordion *ngIf="buglist.length > 0">
    <mat-expansion-panel *ngFor="let bug of buglist">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ID: {{bug.id}}
        </mat-panel-title>
        <mat-panel-description>
          {{ bug.description }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <div class="card-grid-container">
          <button mat-flat-button color="accent" class="btnEdit">edit</button>
          <textarea matInput readonly rows=" 10" class="taSummary"></textarea>
          <label class="lblStatus"><b>Status:</b> {{ bug.status }}</label>
          <label class="lblOwner"><b>Owner:</b> {{ bug.owner }}</label>
          <label class="lblCreatedBy"><b>Created By:</b> {{ bug.createdBy }}</label>
          <label class="lblCreatedOn"><b>Created On:</b> {{ bug.createdOn }}</label>
        </div>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
  <h3 class="info-txt mat-body-1" *ngIf="buglist.length <= 0">No bugs created so far!</h3>
</mat-card>
